.main-footer{
    color: white;
    background-color:rgb(28, 70, 110) ;
    /* align-items: center; */
    height: 350px;
    
}
.container{

    align-items: center;
    flex-direction: column;

}
.row{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    block-size: fit-content

}
.list{
    align-content: space-around;
  

}
.col{
    font-weight: bold
    

}
.heading{
    padding: 10px;
    font-weight: bolder;
    font-size: x-large;
}
.col-sm{
    padding-left: 500px;
}
@media(max-width: 600px){
    .row, .col, .col-sm{
        display:block;
        padding:0px;
        margin: 0px;
        background-color: rgb(28, 70, 110);
    } 
}
/* .icon{ */
    /* height: 70px;
    width: 50px; */
/* } */
    
