.main-footer{
    color: white;
    background-color:rgb(28, 70, 110) ;
    align-items: center;
    
}
.col {
display: flex;
align-items: flex-end;
}
.list{
    display: flex;
    flex-direction: row;
    
}
.col{
    align-items: center;
}