html{
  scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    scroll-snap-type: y mandatory;
}
.app{
    background-color: #fff;
}
.root-layout{
    width: 100%;
}

.root-layout nav{
    background-color:rgb(28, 66, 94);
    padding: 5PX;
    display: flex; 
}

.root-layout nav a img{
    width: 200px;
    height: 80px;
    float: left;
    padding: 0;

}

.filterfield{
    margin: auto;
    margin-top: 10px;
    align-content: center;
   }

.filterfield input {
    caret-color: rgb(218, 20, 20); 
}


#searchInput{
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    font-family: monospace;
    color:rgb(212, 120, 120);
    padding: 12px 20px 12px 40px;
    border: 2px solid rgb(212, 120, 120);
}
#searchInput:focus{
    outline: 1px solid rgb(233, 17, 17);
}

.thepages{
    margin-top:30px;
    margin-left: auto;
    margin-right: 0;
}
.thepages a{
   text-decoration: none;
   color: #fff;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   padding: 10px;
}

.thepages a:hover{
    color: rgb(219, 192, 192);
}

.thepages a.active{
    color: rgb(212, 120, 120);
}

#cart span:nth-child(1){
  font-size: 17px;
}

#cart span:nth-child(2){
    padding: 0 3px;
    font-weight: bold;
    border-radius: 5px;
    color:#fff;
    background-color: rgb(212, 120, 120);
    position: relative;
    top: -15px;
}

.slider{
   position: absolute; 
}

.main{
    margin-top: -100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 12px;
}

.homeh1{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.3rem;
    color: rgb(28, 66, 94);
    margin-left: 12px;
}

.trendy{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.homecolumn {
    float: left;
    width: 20%;
    margin:auto;
  }

  .homecard{
    width: 100%;
    box-shadow: 0 1px 7px 0 rgba(28, 26, 26, 0.2);
    padding: 10px;
    text-align: center;
    font-family: arial;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
  
.homecard:hover{
    outline:1px solid rgb(212, 120, 120);
  }

.branding1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(212, 120, 120);
}

.branding1 h5{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 10px;
}

.branding1 img{
    width: 70%;
    height:50px;
}

.branding1 button{
    width: 100px;
    font-size: 11px;
    margin: 5px;
    background-color: #3093c7;
    color: #ffffff;
    border: 1px solid #25729a;
    cursor: pointer;
}

.bythecategory{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.thecategories{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c1{
    margin: 5px;
    padding:3px;
    border-radius: 20px;
}

.c1 img{
    width: 300px;
    height: 250px;
    cursor: pointer;
}

.c1 img:hover{
    width: 270px;
    height: 200px;
}



.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.info p{
    background-color: #fff;
}

.info-details{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.im{
    margin-top: 15px;
}